.pair{
    background : blanchedalmond;
}
.impair{
    background : lightgray;
}

.contenu{
    background-color : white;
 }

.wrapper{
    background-color : grey; 
    min-height :  100%;
    height :  100%;
}

.wrapper:after{
  content: "";
  display: block;
    margin-bottom: -50px; 

}


body{
    background-color :  orange;
    font-size : 1.6rem;
    min-height :  100%;
}



body.ng-scope{
    min-height :  100%;
    height:  100%;
}


.footer{
    width: 100%;
    background-color :  red;
    height :  50px;
    padding-top :  30px;
    padding-bottom  : 30px;
    padding-left:  12px;
    font-weight: 800;
}

.separator{
    clear: both;
    height: 0;
}

.contenu{
    padding-left :  5px;
    padding-top:  5px;
}

li
{
list-style-type: none;
display :  inline-block;
background-color :  beige; 
margin-left: 3px;
}

.alert{
    border :  1px solid black;
    text-align : center;
}

input,button{
    margin-top :  3px;
}

.style_lien,.liste_lien {
    color : #2b1c26 ;
    padding :  10px;
    border-radius :  4px;
        text-shadow: 2px 2px #f1f442;

}

.style_lien:hover,.liste_lien:hover,.edition_passager:hover {  
    background-color :  yellow;
}

.entete ul{
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    color:   #777;
}

.titre_entete{
    height :  35px;
    background-color :  white;
    text-align :  center;
    vertical-align: middle;
    margin-top : 45px;
    margin-bottom: auto;
    margin-bottom: 5px;
}

input,button,select{
    width :  100%;
}