.ng-scope{
    width : 100% !important;
    padding  : 6px !important;
    /*margin : 4px !important;*/
    /*background-color  :yellow;*/
}

.content_avoid_flex{
    min-width : 100%;
}
.container{
    width :100%;
}

.row{
    width :100%;
}
/************/
.pair{
    background : blanchedalmond;
}
.impair{
    background : lightgray;
}

.contenu{
    background-color : white;
    }

.container{
    background-color : lightgrey; 
}
.entete{
    width : 100%;
}

.entete ul {
    width : 100%;
    display : inline-block;
    text-align: left;
}
.entete li,.entete ul{
    display: inline-block;
    list-style: none;
}

.entete ul{
    display : flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-top : 5px;
    padding-bottom : 5px;
    bacground-color : yellow !important;
    padding-left : 6px; 
    padding-right : 6px;
    
}

.entete li{
    /*max-width : 70px !important;*/
    display : inline-block;
    border-radius : 2px;
    list-style-type:none;
    background-color  : grey;
    margin-left : 5px;
    padding : 3px;
    color : white !important;
    margin-bottom : 4px !important;
    min-width : 195px !important;
    text-align : center;
}

.entete li a{
        margin: 3px;
}

input, select {
    margin-bottom : 1em;
}
