<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>
            test de controlleur
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="js/angular.js" type="text/javascript"></script>
        <script src="js/angular-sanitize.js" type="text/javascript"></script>
           <script>
            var app = angular.module("App",["ngSanitize"]);
            app.controller("ControllerA",function($scope){
                $scope.user={};
                $scope.user.nom="Duchene";
                $scope.user.dateNaissance = new Date("1997/12/5");
                $scope.user.taille=100;
                $scope.user.isAdult=false;
                $scope.user.avatar="apple";
                $scope.age= function(u){
                    var age =(new Date( (u.dateNaissance - Date.now() ))).getFullYear(); 
                    if(age>=18){
                        u.isAdult= true;
                    }else{
                        u.isAdult= false;
                    }
                    return age;
                };
                $scope.reloadRoute = function() {
   $route.reload();
}
            });
            
        </script>
    <style>p{
            display:block;
        }
        
            div{
                height:100%;
           }
           .majeur{
               color: yellow;
           background-color : green;
           }
           .mineur{
               color: yellow;
               background-color : red;
           }
           
    </style>
    </head>
    <body ng-controller="ControllerA">
        <div>nom : {{user.nom}}</div>
        <div>  
        TODO
        <span>taille : {{user.taille}}</span>
        <span>age : {{age(user)}}</span>
        <span ng-show="user.isAdult === false"> test 1 : c'est un mineur</span>
        <span ng-hide="user.isAdult === true">test 1 :  c'est un adulte</span>
        <span ng-if="user.isAdult === false">test 2 : c'est un mineur</span>
        <span ng-if="user.isAdult === true">test 2 : c'est un adulte</span>
        <div ng-switch="user.avatar">
            <div ng-switch-when="apple"><img src="1.jpg" /></div>
            <div ng-switch-when="skype"><img src="2.jpg" /></div>
            <div ng-switch-when="google"><img src="3.jpg" /></div>
 
        </div>
        </div>
        <div>
        <button ng-click="user.dateNaissance.setDate((user.dateNaissance.getFullYear()+1)+'/'+user.dateNaissance.getDay()+'/'+user.dateNaissance.getMonth());reloadRoute();" >ajoute 1 an</button> 
        <button ng-click="user.dateNaissance.setDate((user.dateNaissance.getFullYear()-1)+'/'+user.dateNaissance.getDay()+'/'+user.dateNaissance.getMonth());reloadRoute();">soustrait 1 an</button>
        </div>
    </body>
</html>
