
<!DOCTYPE html>
<html ng-app="AppAeroport"   >
<head>
    <title>
        App de gestion de clientèle d'aeropot
    </title>

    <link rel="shortcut icon" href="icon.ico">
<!-- <base href="/" />
-->        <meta charset="UTF-8">

<!-- styles en chagment defferé -->
<!-- <link  rel="stylesheet" type="text/css" href="js/vendor/bootstrap/dist/css/bootstrap-reboot.css" /> -->
<link  rel="stylesheet" type="text/css" href="js/vendor/bootstrap/css/bootstrap.css" />
<link  rel="stylesheet" type="text/css" href="js/vendor/bootstrap/css/bootstrap-theme.css" />
<link  rel="stylesheet" type="text/css" href="css/style.css" /> 

<!-- lib courantes (jquery) -->
<script  src="js/vendor/jquery/dist/jquery.js" type="text/javascript"></script>
<script  src="js/vendor/jquery-ui-1.12.1/jquery-ui.js" type="text/javascript"></script>
<!-- bootstrap et dependances bizarre -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="js/vendor/bootstrap/js/dist/index.js" type="text/javascript"></script>


<!-- les vrais vrais dépendances du projet : angularjs -->
<script  src="js/vendor/angularjs/angular.js" type="text/javascript"></script>
<script src="js/vendor/bootstrap-ui/ui-bootstrap-tpls-2.5.0.js"  type="text/javascript"></script>

<script src="js/vendor/angularjs/angular-sanitize.js" type="text/javascript"></script>
<script src="js/vendor/angularjs/angular-animate.js" type="text/javascript"></script>
<script src="js/vendor/angularjs/angular-touch_1.js" type="text/javascript"></script>

<script src="js/vendor/angularjs/angular-route.js" type="text/javascript"></script>

<!-- fin : code ecris par moi -->
<script  src="js/config/init_config.js" type="text/javascript"></script>

<!-- POO : modele -->

<script  src="js/passager_class.js" type="text/javascript"></script>
<script  src="js/passager_service.js" type="text/javascript"></script>

<!-- fin  : POO modele -->
<!-- controlleur -->
<script  src="js/controllers/dependancyInjectionController.js" type="text/javascript"></script>   

<script  src="js/controllers/choixVolController.js" type="text/javascript"></script>   
<script  src="js/controllers/editionPassagerController.js" type="text/javascript"></script> 
<script  src="js/controllers/validationController.js" type="text/javascript"></script>    
<script  src="js/controllers/listeController.js" type="text/javascript"></script>         
<!-- fin controlleur -->
<script  src="js/fonctions.js" type="text/javascript"></script>
<script  src="js/style_color_random.js" type="text/javascript"></script>
<script  src="js/app_aeroport.js" type="text/javascript"></script>
<!--- fin fin fin  sinon il ne connait pas le controller de depart -->
<script  src="js/config/routes.js" type="text/javascript"></script>  
<script  src="js/main.js" type="text/javascript"></script>    
<!-- template inclus -->

<!-- initialisation de fin (TODO optimiser en conditionnant en module es6 )-->
        <!--
        <link  rel="stylesheet" type="text/css" href="js/jquery-ui.min.css" />
        <script  src="js/jquery-ui.js" type="text/javascript"></script>
    -->
    <script type="text/ng-template" id="init.html">
        <h1>lancement de l'app de gestion d'aeroport</h1>
        <strong> Bienvenue</strong>
    </script>
    
    <script type="text/ng-template" id="entete.html">
        <div class="entete" ><div class="titre_entete" >entete de la page : </div> 
            <ul>
                <li class="liste_lien" ng-repeat="(cle,lien) in CONFIG.liste_lien" ><a ng-href="#!{{lien}}" href="#!{{lien}}"      >{{cle}}</a></li>


            </ul>
        </div>
    </script>
    
    <script type="text/ng-template" id="contenu.html">
        <div  class="contenu" >contenu</div>
    </script>
    
    <script type="text/ng-template" id="footer.html">
        <footer class="footer" >footer</div>
        </script>
        <!-- fin  template inclus -->
        <style>
        </style>

    </head>
    
    <body ng-controller="MainAppController" >
     <div class="wrapper">
        <div class="sperator"></div>

        <div ng-include="alert" ></div>
        <div class="sperator"></div>

        <ng-include   src="'entete.html'" ></ng-include>
        <div class="seperator"></div>
        <div class="contenu">  
            <ng-include   src="'contenu.html'" > </ng-include>
            <div ng-view></div>
        </div>
    </div>
    <div class="seperator"></div>

    <ng-include   src="'footer.html'"> </ng-include>

        <!--<div cplass="container">
            <div class="row">
                <div class="col-sm-6 col-xs-offset-2">
                    <div class="display_bootstrap panel panel-default" >
                       test
                    </div>
                </div>           
            </div>-->


        </body>
        </html>
