<!DOCTYPE html>
<html ng-app="AppAeroport">
    <head>
        <title>
            App de gestion de clientèle d'aeroport
        </title>
        <meta charset="UTF-8">
        <script  src="node_modules/jquery/dist/jquery.js" type="text/javascript"></script>
        <script  src="js/vendor/jquery-ui/jquery-ui.js" type="text/javascript"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="js/vendor/bootstrap/js/dist/index.js" type="text/javascript"></script>
        <script defer src="js/vendor/bootstrap/js/dist/bootstrap_tpls.js"  type="text/javascript"></script>

        <script src="js/vendor/angularjs/angular.js" type="text/javascript"></script>
        <script src="js/vendor/angularjs/angular-sanitize.js" type="text/javascript"></script>
        <script src="js/vendor/angularjs/angular-route_1.js" type="text/javascript"></script>
        <script src="js/vendor/angularjs/angular-route.js" type="text/javascript"></script>


        <script  src="js/fonctions.js" type="text/javascript"></script>
        <script  src="js/style_color_random.js" type="text/javascript"></script>
        
        <script  src="js/init_module.js" type="text/javascript"></script>       
        <script  src="js/routes.js" type="text/javascript"></script>
        
        <script  src="js/app_aeroport.js" type="text/javascript"></script>
        <script  src="js/filters/filtre_recherche_client.js" type="text/javascript"></script>
        <script  src="js/init_jquery_ui.js" type="text/javascript"></script>
    <script type="text/ng-template" id="init.html">
        <h1>lancement de l'app de gestion d'aeroport</h1>
        <strong> Bienvenue</strong>
    </script>
    
    <script type="text/ng-template" id="entete.html">
        <div class="entete" >entete de la page: 
            <ul>
                <li><a href="#!/liste"  ng-click="contentUrl = js/controllers/liste.html"  >liste des clients</a></li>
                <li><a href="#!/choix_vol"   ng-click="contentUrl = js/controllers/choix_vol.html" >choix des vols</a></li>
                <li><a href="#!/validation"  ng-click="contentUrl = js/controllers/validation.html"  >validation des choix de vols</a></li>
            </ul>
        </div>
    </script>
    
    <script type="text/ng-template" id="contenu.html">
        <div  class="contenu" >contenu</div>
    </script>
    
    <script type="text/ng-template" id="footer.html">
        <footer class="footer" >footer</div>
    </script>
        <!-- fin  template inclus -->
    <style>
    </style>
    
    </head>
    
    <body ng-controller="BootstrapController">
        <ng-include   src="'entete.html'" ></ng-include>
        <!--<ng-include   src="'contenu.html'" > </ng-include>--> 
        <div ng-include="tpl.contentUrl"></div>

        <!-- <ng-include   src="'footer.html'"> </ng-include> -->
          <div ng-view></div>

        <!--<div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-offset-2">
                    <div class="display_bootstrap panel panel-default" >
                       test
                    </div>
                </div>           
        </div>-->
    
     <!-- styles en chagment defferé -->
        <link  rel="stylesheet" type="text/css" href="js/vendor/bootstrap/dist/css/bootstrap-reboot.css" />
        <link  rel="stylesheet" type="text/css" href="js/vendor/bootstrap/dist/css/bootstrap.css" />
       <link  rel="stylesheet" type="text/css" href="js/vendor/jquery-ui/jquery-ui.theme.css" /> 
       <link  rel="stylesheet" type="text/css" href="css/style.css" /> 
       
    </body>
</html>
