<!DOCTYPE html>
<html ng-app="App" >
    <head>
        <title>
            TODO
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.js" type="text/javascript"></script>
        <script src="js/angular-sanitize.js" type="text/javascript"></script>
        <style>p{display:block;}div{height:100%;}</style>
        
    <script>
            var app = angular.module("App",["ngSanitize"]);
            nom="Dupont";
            age=25;
            message="<p>Hello</p>";
            app.value({"user":{"npm":nom,"age":age,"message":message}});
            app.run(["$rootScope","user",function($rootScope){
                $rootScope.origin="test";
                $rootScope.personne=[];
                $rootScope.personne.boom = "Dupont";
                $rootScope.personne.age = 20;
        }]);
            app.controller("ControllA",function($scope){
                $scope.message = "Je suis le controlleur A ";
                $scope.personne=[];
                $scope.personne.nom="Durand";
                $scope.personne.age=10;
            });
            
        </script>
        
        
    </head>
    <body ng-app="App" ng-init="nom='Duran';age=18;message='<b>Hello<b>'" >

        <script>
        </script>
        <div ng-controller="controllA" >
            <p>nom:  {{personne.nom}}</p>
            {{personne.nom}}
            <p>dans parent : {{$parent.personne.nom}}</p>
        </div>
    </body>
</html>
