<!DOCTYPE html>
<html>
    <head>
        <title>
            TODO
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="js/angular.js" type="text/javascript"></script>
        <script src="js/angular-sanitize.js" type="text/javascript"></script>
        <style>p{display:block;}div{height:100%;}</style>
        
    <script>
        
            var app = angular.module("App",["ngSanitize"]);
            nom="Dupont";
            age=25;
            message="<p>Hello</p>";
            app.value({"user":{"npm":nom,"age":age,"message":message}});
            app.run(["$rootScope","user",function(appScope,u){
                appScope.user=u;
                appScope.bidon=88;

                console.log("scope : %O ",appScope);
            }]);
            
        </script>
        
        
    </head>
    <body ng-app="App" ng-init="nom='Duran';age=18;message='<b>Hello<b>'" >

        <p>nom      :  {{nom}}</p>
        <p>age      :  {{age}}</p>
        <p>message  :  {{message}}</p>
        <script>
        </script>
        <div>
            
        </div>
    </body>
</html>
