<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>
            test de controlleur
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link  rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css" />
        <link  rel="stylesheet" type="text/css" href="css/bootstrap.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
        <script src="js/angular.js" type="text/javascript"></script>
        <script src="js/angular-sanitize.js" type="text/javascript"></script>
        <script src="js/angular-route.min.js" type="text/javascript"></script>
        <script src="js/ui-bootstrap-tpls-2.5.0.min.js"  type="text/javascript"></script>

        <script>
            var app = angular.module("App", ["ngSanitize", "ngRoute"]);
            /*app.filter("offset",function(){
             return function(start,10){   
             var s=parseInt(start,10);
             return input.slice(s);
             } 
             });
             */

            app.controller("FormInputController", ['$scope', '$route', '$window', '$templateCache', function($scope, $route, $window, $templateCache){
            
            $scope.watch("fruit", function(){
            console.log("fruit : %O", $scope.fruit);
            }, true);
                        $scope.watch("choix", function(){
            console.log("choix legume : %O", $scope.choix);
            }, true);
            
            $scope.choixlegume = [{"id" : 1, "label"  : "carotte" }, {"id" : 2, "label" : "haricot" }, {"id" : 3, "label" :"choux" }];
            $scope.choix="";
///console.log("fruit : %O",$scope.fruit);
            //$scope.list=[];
            $scope.telephone = [];
            $scope.prenom = [];
            //$scope.nom=[];

            $scope.checkTel2 = function(){

            }

            $scope.cancel = function(evt){
            //window.location.href  =document.URL;
            console.log("%0", $route);
            var currentPageTemplate = $route.current.templateUrl;
            $templateCache.remove(currentPageTemplate);
            $route.reload();
            $window.location.reload()
            }

            $scope.reset = function(evt){
            $scope.telephone.$setPristine();
            $scope.prenom.$setPristine();
            }

            }]);
        </script>
        <style>

            .pair{
                background : blanchedalmond;
            }
            .impair{
                background : lightgray;
            }

        </style>
    </head>
    <body ng-controller="FormInputController">
        <form name="myForm" class="form-horizontal" role="form" ng-controller="FormInputController">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="form-group has-feedback" 
                         ng-class="{'has-success' : myForm.prenom.$valid && myForm.prenom.$dirty,
                                         'has-error' : !myForm.prenom.$valid && myForm.prenom.$dirty  }">
                        <label for="prenom">Prenom</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input ng-pattern="/^([a-zA-Z]){3,5}$/"  ng-model="prenom" 
                                   class="form-control" id="prenom" name="prenom" 
                                   placeholder="Prenom"  type="text" required ng-model-options="{updateOn: 'onkeydown'}">
                        </div>
                        <span class="form-control-feedback glyphicon glyphicon-ok" 
                              ng-show="myForm.prenom.$valid && prenom"> </span>
                        <span ng-show="myForm.prenom.$error.pattern" 
                              class="help-inline"> mauvais format respecter le pattern : /^([a-zA-Z]){3,5}$/</span>
                    </div>
                </div>
                <div class="col-xs-4 col-xs-offset-2">
                    <code> prenom  : {{prenom}} </code>
                    <code> prenom.valid  : {{myform.prenom.$valid}} </code>
                    <code> prenom.error  : {{myForm.prenom.$error}} </code>
                    <code> prenom.dirty  : {{myForm.prenom.$dirty}} </code>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="form-group has-feedback" 
                         ng-class="{'has-success' : myForm.telephone.$valid && myForm.prenom.$dirty,
                                     'has-error'  : !myForm.telephone.$valid && myForm.prenom.$dirty  }">
                        <label for="telephone">Telephone</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-phone"></span>
                            </span>
                            <input ng-pattern="/^(\d){1,2}-(\d){1,2}-(\d){1,2}-(\d){1,2}-(\d){1,2}$/"  ng-model="telephone"  class="form-control" id="telephone" name="telephone" 
                                   placeholder="Tel"  type="text" required ng-model-options="{updateOn: 'onkeydown'}">
                        </div>
                        <span class="form-control-feedback glyphicon glyphicon-ok" 
                              ng-show="myForm.telephone.$valid && telephone"> </span>
                        <span ng-show="myForm.telephone.$error.pattern" 
                              class="help-inline"> mauvais format pour le téléphone : /^(\d){1,2}-(\d){1,2}-(\d){1,2}-(\d){1,2}-(\d){1,2}$/</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div  class="col-xs-4 col-xs-offset-2" >
                    <code> telephone  :       {{telephone}} </code>
                    <code> telephone.valid  : {{myform.telephone.$valid}} </code>
                    <code> telephone.error  : {{myForm.telephone.$error}} </code>
                    <code> telephone.dirty  : {{myForm.telephone.$dirty}} </code>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3 col-xs-offset-2">
                    <input  class="btn btn-default" type="submit" name="envoyer" value="envoyer">
                </div>
                <div class="col-xs-3 col-xs-offset-2">
                    <input  ng-click="cancel()" class="btn btn-default" type="submit" name="annuler" value="annuler">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <pre>{{ fruit || 'null' }} </pre>
                    <div class="btn-group btn-group-justified">
                        <label ng-model="fruit.chk1"  class="radio-inline" ><input type="radio" value="Pomme" name="Pomme" />Pomme</label>
                        <label ng-model="fruit.chk2"  class="radio-inline" ><input  type="radio" value="poire" name="poire" />poire</label>
                        <label ng-model="fruit.chk3"  class="radio-inline" ><input  type="radio" value="orange" name="orange" />orange</label>
                    </div>
                </div>
            </div>
            <div class="row" >
                <pre>{{choixlegume || 'pas de choix' }} valid : {{myForm.choixlegume.$valid}}</pre>
                <div class="col-sm-8" >
                    <div class="input-group-addon" ng-class="{'has-success' : myForm.choixlegume.$valid}">
                        <span class="input-group-addon"></span><span class="glyphicon glyphicon-apple" ></span>
                        <select name="choixlegume" ng-options="item as item.label for item in choixlegume track by item.id" ng-model="choix" class="form-control" required>
                            <option value="" >choisissez un fruit</option>
                        </select> 
                    </div>
                </div>
                <!---<div class="col-sm-8" > 
                    test
                </div>
                <div class="col-sm-8" >
                    test
                </div> -->
            </div>


        </form>
    </body>
</html>
