<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>
            test de controlleur
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link  rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css" />
        <link  rel="stylesheet" type="text/css" href="css/bootstrap.css" />
 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
        <script src="js/angular.js" type="text/javascript"></script>
        <script src="js/angular-route.min.js" type="text/javascript"></script>
        <script src="js/ui-bootstrap-tpls-2.5.0.min.js"  type="text/javascript"></script>

      
        <script>
  
            var app = angular.module("App", ["ngSanitize", "ngRoute"]);
            var controller = app.controller([{"ctrl1",function($scope){
                    
            }]);
           var controller = app.controller([{"ctrl2",function($scope){
                    
            }]);   
        app.config(['$RouteProvider'],["$scope",function($routeProvider){
                $routeProvider.when('/this',{
                }).when('/xxx',{
                    templateUrl : 'xxx.html',
                }).when('/yyy',{
                    templateurl : 'yyy.html',
                    controller : 'yyController'
                }).when('/zzz/:id',{
                    templateurl : 'zzz.html',
                    controller : function($scope,$routeParamter){
                        $scope.id=$routeParam.id;
                    }
                }).when('/supp/:id',{
                    templateurl : 'zzz.html',
                    controller : function($scope,$routeParamter){
                     return { 'toto' : 1, 'fruit' :'pomme'};
                    }
                });
            }]);
 
            app.controller("metaController", ['$scope', function ($scope) {
                $scope.message = 'salut';
                $scope.alea = Math.floor(Math.random() % 1000);
            }]);

            app.controller("yyyController", ['$scope','action',function ($scope) {
                    
            }]);
                       
            app.controller("zzzController", ['$scope','action',function ($scope) {
                    
            }]);
        </script>

        <script type="text/ng-template" id="#!/xxx.html" >
            <h1>
            Page xxx1
            </h1>
            <div class="card-img-top img-responsive" src="htpp://unspash.it/500/502" alt="example" />
        </script>
        <script type="text/ng-template" id="#!/zzz.html" >
            <h1>
            Page zzz
            </h1>
            
            <a href="#!/xxx" >xxx</a>
            <a href="#!/yyy" >yyy</a>
            <a href="#!/zzz" >zzz</a>
         
        </style>
    </head>
    <body ng-controller="metaController" >            
        <img class="card-img-top img-responsive img-responsive" src="http://unsplash.it/400/400" alt="example" />

        
        <div class="container">
            <div class="row">
                <div ng-view class="col-xs-1" >
                    <div> alea : {{alea}} </div>        
                </div>
            </div>
            <div class="row">
                <div ng-view class="col-xs-1" >
                    <div> alea : {{alea}} </div>        
                </div>
            </div>
        </div>
    </body>
</html>
