<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>
            test de controlleur
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link  rel="stylesheet" type="text/css" href="css/bootstrap-reboot.css" />
        <link  rel="stylesheet" type="text/css" href="css/bootstrap.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/bootstrap.bundle.min.js" type="text/javascript"></script>
        <script src="js/angular.js" type="text/javascript"></script>
        <script src="js/angular-sanitize.js" type="text/javascript"></script>
        <script src="js/angular-route.min.js" type="text/javascript"></script>
        <script src="js/ui-bootstrap-tpls-2.5.0.min.js"  type="text/javascript"></script>
          
         <script>
            var app = angular.module("App",["ngSanitize","ngRoute"]);
            /*app.filter("offset",function(){
               return function(start,10){   
                   var s=parseInt(start,10);
                   return input.slice(s);
                } 
            });
            */
            app.controller("FormInputController",['$scope','$route','$window','$templateCache',function($scope,$route,$window,$templateCache){
                //$scope.list=[];
                $scope.telephone=[];
                $scope.prenom=[];
                //$scope.nom=[];
                
                $scope.checkTel2 = function(){
                    
                }
                
                $scope.cancel= function(evt){
                    //window.location.href  =document.URL;
                    var currentPageTemplate = $route.current.templateUrl;
                    $templateCache.remove(currentPageTemplate);
                    $route.reload();
                    $window.location.reload() 
                }                
                
                $scope.reset= function(evt){
                    $scope.telephone.$setPristine();
                    $scope.prenom.$setPristine();
                }
                
            }]);
        </script>
    <style>
        
        .pair{
            background : blanchedalmond;
        }
        .impair{
            background : lightgray;
       }
       
    </style>
    </head>
    <body ng-controller="FormInputController">
            <form name="myForm" class="form-horizontal" role="form" method="get" action="" ng-controller="FormInputController" >
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-xs-offset-2">
                            <pre>{{ radioModel1 || 'null' }}</pre>
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label><input class="radio-inline" type="radio" ng-model="radioModel1" name="p1" />Pomme</label>
                            <label><input class="radio-inline"  type="radio" ng-model="radioModel1" name="p2" />Poire</label>
                            <label><input class="radio-inline"  type="radio" ng-model="radioModel1" name="p3" />Kiwi</label>
                        </div>
                        </div>
                            <!-- -->
                    </div>
                </div>
                <div class="row">
                   <div class="col-sm-6">
                       <div class="btn-group btn-group-justified" data-toggle="buttons">
                           <label class="btn btn-success">
                               <input name="q1" value="pomme" type="radio" ng-model="radioModel2"  ng-class="{'active':radioModel2 == 'Pomme'}" >Pomme
                           </label>
                           <label class="btn btn-success">
                               <input name="q1" value="Poire" type="radio" ng-model="radioModel2"  ng-class="{'active':radioModel2 == 'Poire'}" >Poire
                           </label>
                           <label class="btn btn-success" ng-class="{'active':radioModel2 == 'Kiwi'}">
                               <input name="q1" value="Kiwi" type="radio" ng-model="radioModel2">Kiwi
                           </label>
                   </div>
                </div>   
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="btn-group btn-group-justidied">
                                <label class="btn btn-primary" ng-model="radioModel3" uib-btn-radio="'pomme'" ></label>
                           
                                <label class="btn btn-primary" ng-model="radioModel3" uib-btn-radio="'poire'" ></label>
                                
                                <label class="btn btn-primary" ng-model="radioModel3" uib-btn-radio="'kiwi'" ></label>
                            </div>
                    </div>
            </form>
    </body>
</html>
