<!DOCTYPE html>
<html ng-app="AppAeroport">
    <head>
        <title>
            Controlleur de choix de vol
        </title>
        <meta charset="UTF-8">
    </head>
    
    <script type="text/ng-template" id="'choix_vol.html'">

    </script>    

    <body>
{{passager_courant | debug}}
            <div ng-controller="choixVolController">
    <h1>Choix de vol de  : {{passager_courant.nom}} {{passager_courant.prenom}} : (vol:{{passager_courant.vol}}) <span ng-if="!passager_courant.prenom" >personne</span></h1>
    <form name="myForm" class="form-horizontal" role="form" method="get" action="" ng-controller="choixVolController" >
          <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-offset-2">
<div class="row" >
    <label>choix de ville de départ</label>
                    <select class="selectpicker" ng-model="passager_courant.voyage.depart"  name="depart">
                 <option ng-repeat="ville in villes1" value="{{ville}}">{{ville}}</option>
                    </select>
                 </div>
                 <div class="row" >   
                        <label>choix de ville d'arrivée</label>

                    <select class="selectpicker" name="destination" ng-model="passager_courant.voyage.destination"  >
                    <option ng-repeat="ville in villes2" value="{{ville}}">{{ville}}</option>
                    </select>
                </div>
<div  class="row" >                    
                    <label for="date_debut" >date de départ</label>
                    
                                        <div style="border: 1px solid #DDD;">
                <div class='input-group date' id='datetimepicker1'>

<input class="datepicker" type="text" class="choix_date" ng-model="passager_courant.voyage.date_debut" />
<span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
    </div>
                  </div>     
<div class="row" >
                    <label for="date_fin" >date arrivée</label>
                                <div style="border: 1px solid #DDD;">
                <div class='input-group date' id='datetimepicker1'>

                    <input class="datepicker"   type="text" class="choix_date" ng-model="passager_courant.voyage.date_fin" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                                </div>

</div>
                    <!-- classe-->

<div class="row" >
    <div class="btn-group">
    <label class="btn btn-primary" ng-model="passager_courant.voyage.classe" uib-btn-radio="{{classe}}" ng-repeat=" (id,classe) in classes track by $index " >{{classe.libelle}}</label>
    </div>
</div>
<input name="id" type="hidden"  value="{{passager_courant}}" />
<input name="nom_vol" type="hidden" value="memevvolquetoutlemonde" />

<!-- choix vol 2 -->
   <button ng-disabled="loginform.$invalid" ng-click="choix_retour(myForm)" class="btn btn-default" name="retour" >aller-retour</button>
<div ng-if="retour" >

                 <div class="row" >   
                        <label>choix de ville d'arrivée</label>

                    <select class="selectpicker" name="destination" ng-model="passager_courant.voyage.destination"  >
                    <option ng-repeat="ville in villes2" value="{{ville}}">{{ville}}</option>
                    </select>
                </div>
<div class="row" >
    <label>choix de ville de départ</label>
                    <select class="selectpicker" ng-model="passager_courant.voyage.depart"  name="depart">
                 <option ng-repeat="ville in villes1" value="{{ville}}">{{ville}}</option>
                    </select>
                 </div>

<div  class="row" >                    
                    <label for="date_debut2" >date de départ</label>
                    <input class="datepicker2" type="text" class="choix_date" ng-model="passager_courant.voyage.date_debut2" />
                  </div>     
<div class="row" >
                    <label for="date_fin2" >date arrivée</label>
                    <input class="datepicker2"   type="text" class="choix_date" ng-model="passager_courant.voyage.date_fin2" />
</div>
                    <!-- classe-->

<div class="row" >
    <div class="btn-group">
    <label class="btn btn-primary" ng-model="passager_courant.voyage.classe2" uib-btn-radio="{{classe.libelle}}" ng-repeat=" (id,classe) in classes track by $index " >{{classe.libelle}}</label>
      </div>
</div>
</div>
<!-- choix vol 2 -->
    <button ng-disabled="loginform.$invalid"  ng-click="envoyerchoixvol(myForm);" class="btn btn-default"  ng-disabled="myForm.$invalid" name="envoyer" >envoyer</button>
                    </div>
                </div>
            </div>
        </form>
</div>
    </body>
</html>
