<!DOCTYPE html>
<html ng-app="AppAeroport">
<head>
    <title>
        Controlleur de choix de vol
    </title>
    <meta charset="UTF-8">
</head>

<script type="text/ng-template" id="'choix_vol_component.html'">

</script>    

<body>
    {{passager_courant.id}}
    <div ng-controller="editionPassagerController">
        <h1>Edition du passager : </h1>
        <div style="display:flex;justify-content:center;">
        <form name="myForm" class="form-horizontal" role="form" method="get" action=""  >
          <div class="form-group">
            <div class="row" >
             <label  class="control-label col-sm-2"  for="nom" >nom :</label>
             <div class="col-sm-10">
                <input  type="text"  ng-model="passager_courant.nom" />
            </div>
        </div>
        <div class="row">
            <label  class="control-label col-sm-2"   for="prenom" > prenom : </label>
            <div class="col-sm-10">
                <input  type="text" class="prenom" ng-model="passager_courant.prenom" />
            </div>
        </div>
        <div class="row">
            <label  class="control-label col-sm-2"   for="email" > email : </label>
            <div class="col-sm-10">
                <input  type="text" class="email" ng-model="passager_courant.email" />
            </div>
        </div>

        <div class="row">
            <label  class="control-label col-sm-2"   for="date_naissance" >date de naissance : </label>
            <div class="col-sm-10">
                <input class="datepicker" type="text" class="choix_date" ng-model="passager_courant.date_naissance" />
            </div>
        </div>
        <div class="row" >
            <label  class="control-label col-sm-2"   for="nationalite" >nationalite : </label>
            <div class="col-sm-10">
                <select   ng-model="passager_courant.nationalite">
                    <option  ng-repeat="nationalite in liste_nationalite track by $index" value="{{nationalite}}">{{nationalite}}
                    </option>
                </select>
            </div>
        </div>
</div>


        <input name="id" type="hidden"  value="{{passager_courant.id}}" />

        <!-- classe-->

        <!-- choix vol-->
        <button data-ng-disabled="progress.active()" ng-disabled="myForm.$invalid" ng-click="envoyer(myForm)" class="btn btn-default" name="envoyer" >envoyer</button>                    </div>

    </form>
</div>
</body>
</html>
