<!DOCTYPE html>
<html ng-app="App">
    <head>
        <title>
            Controlleur de liste de client
        </title>
        <meta charset="UTF-8">
         
        <script type="text/ng-template" id="'liste_component.html'">
         <div class="container">
            <div class="row">
                <table>
                <theader></theader>
                <tbody></tbody>
                </table>
            </div>
        </div>
     </script>
     
    </head>
    <body ng-controller="listeController">

    <form name="myform" >  
        <label>recherche nom :</label>
           <input type="text" ng-model="recherche" name="nom" typeahead="state for state in liste_passager | filter:$viewValue | limitTo:8" class="form-control">


        <button ng-click="rechercher(myForm)" class="btn btn-default" name="envoyer" >envoyer</button>
        </form>
    <table  cellpadding="0" cellspacing="0"  class="table table-striped  " >
        <theader>
            <th  ng-repeat="(id,h) in  header track by $index" >{{h}}<div headers="tri_{{id}}" ></div></th>
        </theader>
        <tbody>            
            <tr ng-repeat="(id,passager) in arr_user track by $index " >
                  <td ng-bind-html-unsafe="item" ng-repeat=" info in passager  track by $index ">{{info | voyageTraduction  }}<span ng-show="$last" crud_passager >
                    <div ng-click="voir_passager(passager.id)" class="editer"><i  class="glyphicon glyphicon-eye-open"></i></div>
                    <div ng-click="edit(1)"   class="supprimer"><i class="glyphicon glyphicon-erase"></i></div> 
                   <div ng-click="ajouter_passager(passager.id)"   class="ajouter"><i class="glyphicon glyphicon-plus"></i></div>
                   </span>
                </td>

            </tr>
        </tbody>
    </table>


    </body>

    </html>
