
<!DOCTYPE html>
<html ng-app="AppAeroport">
    <head>
        <title>
            validation de choix de vol
        </title>
        <meta charset="UTF-8">

        <script type="text/ng-template" id="'validation_component.html'">
            <form name="myForm" class="form-horizontal" role="form" method="get" action="" ng-controller="FormInputController" >
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-offset-2">
                        <h1>validation</h1>
                    </div>
                </div>
                
        </div>
        </script>
    </head>
    <body ng-controller="validationController">
        <h1>Vu du changement d'état : </h1>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-offset-2">        <h1>liste des infos du passager courant</h1>
        {{passager_courant | debug}}
   </div></div></div>
    </body>
</html>
