   <html>
    <script type="text/ng-template" id="aller_retour.html">
       <div class="col-sm-6 col-xs-offset-2">
       <h2>{{titre_partie_ar}}</h2>
                <div ng-if="choix_allez_retour == '1' ">
                        <select class="rappel"   name="depart2" ng-init="suite_retour = villes[0]"  ng-model="suite_retour"  ng-options="option for option in villes track by option" ></select>
                </div>
                <div ng-if="choix_allez_retour != '1' ">
                   <select   ng-model="suite_retour"           ng-init="suite_retour = suite_retour || villes[0].value"
 name="depart">
                    <option ng-repeat="item in villes"  value="{{$index}}">{{item}}</option>
                    </select> 
                </div>
                    <--->  
                <div ng-if="choix_allez_retour == '1' ">
                        <select class="rappel"   name="destination2" ng-init="suite_retour = villes[0]"  ng-model="suite_retour2"  ng-options="option for option in villes" ></select>
                </div>
                  <div ng-if="choix_allez_retour != '1' ">
                        <select  class="selectpicker" name="destination" >
                            <optgroup label="villes">
                                <option ng-repeat="item in villes"  value="{{$index}}">{{item}}</option>
                            </optgroup>
                        </select>
                   </div>
                    <select  class="selectpicker" name="nations" >
                      <optgroup label="pays">
                        <option ng-repeat="item in nations" value="{{$index}}">{{item}}</option>
                   </optgroup>
                   </select>
                    <select  class="selectpicker" name="classes" >
                      <optgroup label="type de place">
                        <option ng-repeat="item in classes" value="{{$index}}">{{item.libelle}}</option>
                      </optgroup>
                   </select>
                   <hr />
                      <label for="date_debut" >date de départ</label>
                      <input type="text" class="choix_date choix_date_depart form-control" ng-model="date_debut" />  
                      <label for="date_fin" >date de retour</label>
                      <input type="text" class="choix_date choix_date_retour form-control" ng-model="date_fin" />
                    </div>
    </script>
    </script>
    <body    ng-controller="choixVolController">
    <ng-include   src="'aller_retour.html'" ></ng-include>
    </body>
</html>
