<html ng-app="AppAeroport">
    <head>
        <title>
            Controlleur de choix de vol
        </title>
        <meta charset="UTF-8">
    </head>
    
    <script type="text/ng-template" id="choix_vol_component.html" >
        <div class="container">
            <div class="row">
                <ng-include src="'js/controllers/aller_retour.html'" ></ng-include>
            </div>
        </div>
    </script>    
    <body    ng-controller="choixVolController" >
        <h1 ng-model="title" ng-models-options="{ getterSetter : true }"  >Choix de vol : </h1>
        <form action="/index.html" method="GET" >
            <div class="form-group" style="display :flex;flex-flow: column ;" >
                <h3> allez-retour : </h3>
                <label> oui : <input ng-model="choix_allez_retour" ng-click="titre_partie_ar = 'allez'" type="radio" value="1" name="choix_allez_retour" /></label>
                <label>non : <input ng-model="choix_allez_retour"  type="radio" value="0" name="choix_aller_retour" /></label>
                <div class="content_avoid_flex">
                    <ng-include  src="'choix_vol_component.html'" ></ng-include>
                    <hr />
                    <div ng-if="choix_allez_retour == '1' ">
                        <span style="display : none;" ng-bind="titre_partie_ar = 'retour'"></span>
                        <ng-include src="'choix_vol_component.html'" ></ng-include>
                    </div>
                </div>
                <button type="submit" name="envoyer" class="btn btn-default" > envoyer </button>
            </div>
        </form>
    </body>
</html>
