<html ng-app="AppAeroport">
    <head>
        <title>
            Controlleur de liste de client
        </title>
        <meta charset="UTF-8">
    </head>

    <script type="text/ng-template" id="recherche_utilisateur.html" >
        <div class="row" >
            <form>
                <input class="champs_recherche" type="text" placeholder="nom...." />
                <input ng-click="recherche_utilisateur_func()"  type="submit" value="rechercher" />
            </form>
        </div>
    </script>
     
    <script type="text/ng-template" id="liste.html" >
                        <!-- <div  ng-repeat="(key,val) in user_data[0]  track by $index  "></div> -->
        <div class="row" >

        <table class="table  table-bordered" >
            <theader class="thead-light" >
                <th ng-repeat="(key,val) in user_data[0]  track by $index  ">
                {{key}}
<span class="glyphicon glyphicon-arrow-up ">test</span>
                        </th>
           </theader>
            <tbody class="table_recherche" >
                <tr ng-repeat="item in user_data  track by $index" >
                    <td ng-class='{pair : $odd, impair : $even }' ng-repeat="item_item in item  track by $index" >
                        {{item_item}}      
                    </td>
                </tr>
            </tbody>
        </table>
</div>
        </script>
     
 <body ng-controller="listeController" >
     <ng-include  src="'recherche_utilisateur.html'" ></ng-include>
     <ng-include  src="'liste.html'" ></ng-include>
</body>
</html>
