<html ng-app="AppAeroport">
    <head>
        <title>
            validation de choix de vol
        </title>
        <meta charset="UTF-8">
    </head>
    
     <script type="text/ng-template" id="validation.html">
            <div class="container">
                <div class="row">
                    <pre>
(id            : {{user.id }}) ) 
nom            : {{user.nom}} 
prenom         : {{user.prenom}}
genre          : {{user.genre}}
email          : {{user.email}}
date_naissance : {{user.date_naissance}}
nationalite    : {{user.nationalite}}
classe         : {{user.classe}}

voyage:
-------------------------------------------

départ  :        {{voyage.depart}}
arrivée :        {{voyage.arrivee}}
                    </pre>
                </div>
            </div>
    </script>    
    
    <body ng-controller="ValidationController">
    test
            <ng-include  src="'validation.html'" ></ng-include>
    </body>
</html>
    
